importFrom(parallel,mclapply,mcmapply,detectCores)
importFrom(stats,"integrate", "optimize", "runif", "spline", "splinefun","uniroot")
importFrom("graphics", "abline", "curve", "legend", "lines", "par", "points")
importFrom("grDevices", "dev.off", "pdf")
importFrom(deSolve,lsoda)
importFrom("graphics", "pairs")
importFrom("utils", "tail")
importFrom(expm,"expm")
importFrom("stats", "approxfun")
import(methods)
import(RUnit)
export(
AbsoluteFractionModern_from_Delta14C,
ConstLinDecompOp,
Delta14C_from_AbsoluteFractionModern,
euler,
GaudinskiModel14,
GeneralNlModel,
GeneralModel,
GeneralModel_14,
ICBMModel,
OnepModel,
OnepModel14,
ParallelModel,
RespirationCoefficients,
RothCModel,
ConstFc,
BoundInFlux,
ConstInFlux,
FcAtm.from.Dataframe,
SoilR.F0.new,
GeneralInFlux,
ThreepFeedbackModel,
ThreepFeedbackModel14,
ThreepParallelModel,
ThreepParallelModel14,
ThreepSeriesModel,
ThreepSeriesModel14,
TimeMap.from.Dataframe,
TimeMap.new,
TwopFeedbackModel,
TwopFeedbackModel14,
TwopParallelModel,
TwopParallelModel14,
TwopMMmodel,
ThreepairMMmodel,
TwopSeriesModel,
TwopSeriesModel14,
YassoModel,
bacwaveModel,
turnoverFit,
fT.Arrhenius,
fT.Century1,
fT.Century2,
fT.Daycent1,
fT.Daycent2,
fT.Demeter,
fT.KB,
fT.LandT,
fT.Q10,
fT.RothC,
fT.Standcarb,
fT.linear,
fW.Candy,
fW.Century,
fW.Daycent1,
fW.Daycent2,
fW.Demeter,
fW.Gompertz,
fW.Moyano,
fW.RothC,
fW.Skopp,
fW.Standcarb,
linesCPool,
plotC14Pool,
plotCPool,
getAccumulatedRelease,
getC,
getC14,
getF14,
getF14C,
getF14R,
getFunctionDefinition,
getReleaseFlux,
getReleaseFlux14,
getTimeRange,
getTimes,
getTransitTimeDistributionDensity,
getMeanTransitTime,
as.character,
deSolve.lsoda.wrapper,
Yasso07Model,
bind.C14curves,
GeneralDecompOp,
ConstLinDecompOp,
BoundLinDecompOp,
UnBoundLinDecompOp,
BoundFc,
Model,
Model_14,
AWBmodel,
SeriesLinearModel,
SeriesLinearModel14,
TimeMap,
CenturyModel,
systemAge,
transitTime,
cycling ,
example.2DBoundInFluxFromFunction ,
example.2DConstInFluxFromVector ,
example.ConstlinDecompOpFromMatrix ,
example.TimeMapFromArray,
example.2DBoundLinDecompOpFromFunction,
example.nestedTime2DMatrixList,
example.2DUnBoundLinDecompOpFromFunction,
example.2DInFlux.Args,
example.2DGeneralDecompOpArgs,
example.2DConstFc.Args,
example.Time3DArrayList
)
exportClasses(
NlModel,
Model,
Model_14,
TimeMap,
ConstLinDecompOp,
BoundLinDecompOp,
UnBoundLinDecompOp,
DecompositionOperator,
DecompOp,
Fc,
ConstFc,
ConstInFlux,
BoundInFlux,
UnBoundInFlux,
TransportDecompositionOperator,
InFlux,
BoundFc
)
exportMethods(
#initialize
)
